body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-top: 20px;
    color: #666;
}

p, ul {
    margin: 10px 0;
}

.contact-info {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.mini-title {
    text-align: left;
}

.employment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.employment-item h3 {
    margin: 0;
    font-size: 1.2em;
    color: #666;
}

.employment-item p {
    margin: 0;
    font-size: 1em;
    color: #999;
}